<%- include('partials/header.ejs') %>

<div class="container">
    <h1>about</h1>
    <ul>
        <li>I read a lot of books but after I finish reading them I often don't remember all the most
            salient parts of the book.</li>
        <li>So I started taking notes. This is built on this idea.</li>
        <li>The books are sortable by rating, recency and title.</li>
    </ul>
<!-- <p>I read a lot of books but after I finish reading them I often don't remember all the most
     salient parts of the book.</p><p>So I started taking notes. This is built on this idea.</p>
     <p>The books are sortable by rating, recency and title.</p> -->
    </div>